{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block content %}	

<!-- END nav -->

<section id="home-section" class="hero">
	<div class="home-slider owl-carousel">
		{% for item in carousel_items %}
			<div class="slider-item" style="background-image: url({{ item.image.url }});">
				<div class="overlay"></div>
				<div class="container">
					<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
						<div class="col-md-12 ftco-animate text-center">
							<h1 class="mb-2">{{ item.title }}</h1>
							<h2 class="subheading mb-4">{{ item.subtitle }}</h2>
							<p><a href="{{ item.link }}" class="btn btn-primary">{{ item.buuton_text }}</a></p>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>


<section class="ftco-section">
		<div class="container">
			<div class="row no-gutters ftco-services">
	  <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
		<div class="media block-6 services mb-md-0 mb-4">
		  <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
				<span class="flaticon-shipped"></span>
		  </div>
		  <div class="media-body">
			<h3 class="heading">{% trans 'Pulsuz çatdırılma' %}</h3>
			<span>{% trans 'Sifariş $100-dan çox olsa' %}</span>
		  </div>
		</div>      
	  </div>
	  <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
		<div class="media block-6 services mb-md-0 mb-4">
		  <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
				<span class="flaticon-diet"></span>
		  </div>
		  <div class="media-body">
			<h3 class="heading">{% trans 'Təbiyyətdən təbii olan' %}</h3>
			<span>{% trans 'Product well package' %}</span>
		  </div>
		</div>    
	  </div>
	  <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
		<div class="media block-6 services mb-md-0 mb-4">
		  <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
				<span class="flaticon-award"></span>
		  </div>
		  <div class="media-body">
			<h3 class="heading">{% trans 'Yüksək keyfiyyət' %}</h3>
			<span>{% trans 'Keyfiyyətli məhsullar' %}</span>
		  </div>
		</div>      
	  </div>
	  <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
		<div class="media block-6 services mb-md-0 mb-4">
		  <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
				<span class="flaticon-customer-service"></span>
		  </div>
		  <div class="media-body">
			<h3 class="heading">{% trans 'Qaynar xətt' %}</h3>
			<span>{% trans '24/7 Dəstək' %}</span>
		  </div>
		</div>      
	  </div>
	</div>
		</div>
	</section>


<section class="ftco-section">
	<div class="container">
			<div class="row justify-content-center mb-3 pb-3">
	  <div class="col-md-12 heading-section text-center ftco-animate">
		  <span class="subheading">{% trans 'Featured Products' %}</span>
		<h2 class="mb-4"><a href="{% url 'shop' %}">{% trans 'Our Products' %} </a></h2>
		<p>{% trans 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia' %}</p>
	  </div>
	</div>   		
	</div>
	<div class="container">
		<div class="row">
			{% for i in x2 %}
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="product">
					<a href="{% url 'detailproduct' slug=i.slug %}" class="img-prod">
						<img class="img-fluid" src="{{ i.image.url }}" style="height: 280px; width: 230 px;" alt="Colorlib Template">
						{% if i.discount %}
							<span class="status">{{ i.discount }}%</span>
						{% endif %}
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
						<h3><a href="#">{{ i.title }}</a></h3>
						<div class="d-flex">
							<div class="pricing">
								{% if i.discount %}
									<p class="price">
									
										<span class="price-sale">${{ i.price }}</span>
									</p>
								{% else %}
									<p class="price">${{ i.price }}</p>
								{% endif %}
							</div>
						</div>
						<div class="bottom-area d-flex px-3">
							<div class="m-auto d-flex">
								<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
									<span><i class="ion-ios-menu"></i></span>
								</a>
						
							</div>
						</div>
					</div>
				</div>
				
			</div>

			{% endfor %}
	
		</div>
	</div>
</section>
	


<section class="ftco-section testimony-section">
  <div class="container">
	<div class="row justify-content-center mb-5 pb-3">
	  <div class="col-md-7 heading-section ftco-animate text-center">
		  <span class="subheading">{% trans 'Testimony' %}</span>
		<h2 class="mb-4">{% trans 'Our satisfied customer says' %}</h2>
		<p>{% trans 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in' %} </p>
	  </div>
	</div>
	<div class="row ftco-animate">
	  <div class="col-md-12">
		<div class="carousel-testimony owl-carousel">
			{% for i in mentor %}
		  <div class="item">
			<div class="testimony-wrap p-4 pb-5">
			  <div class="user-img mb-5" style="background-image: url({{i.image.url}})">
				<span class="quote d-flex align-items-center justify-content-center">
				  <i class="icon-quote-left"></i>
				</span>
			  </div>
			  <div class="text text-center">
				<p class="mb-5 pl-4 line">{{i.content}}</p>
				<p class="name"> {{i.name}}</p>
				<span class="position">{{i.position}}</span>
			  </div>
			</div>
		  </div>
			  {% endfor %}
		</div>
	  </div>
	</div>
  </div>
</section>

<hr>

	<section class="ftco-section ftco-partner">
	<div class="container">
		<div class="row">
			<div class="col-sm ftco-animate">
				<a href="#" class="partner"><img src="{% static 'images/partner-1.png' %}" class="img-fluid" alt="Colorlib Template"></a>
			</div>
			<div class="col-sm ftco-animate">
				<a href="#" class="partner"><img src="{% static 'images/partner-2.png' %}" class="img-fluid" alt="Colorlib Template"></a>
			</div>
			<div class="col-sm ftco-animate">
				<a href="#" class="partner"><img src="{% static 'images/partner-3.png' %}" class="img-fluid" alt="Colorlib Template"></a>
			</div>
			<div class="col-sm ftco-animate">
				<a href="#" class="partner"><img src="{% static 'images/partner-4.png' %}" class="img-fluid" alt="Colorlib Template"></a>
			</div>
			<div class="col-sm ftco-animate">
				<a href="#" class="partner"><img src="{% static 'images/partner-5.png' %}" class="img-fluid" alt="Colorlib Template"></a>
			</div>
		</div>
	</div>
</section>

{% endblock %}